- var data = dataGlobal.home.cover;

mixin listItem(item)
	li="-->"
	li=item

.cover#cover-home(data-src-bg="./images/cover.jpg")
	//- h1.cover__title Webpack 5 Starter Repo
	h1.cover__title=data.title
	ul.cover__desc
		each item in data.items
			+listItem(item)
	.cover__desc.cover__desc--hidden=data.description
	a#btn-gh(href=data.button.href target="_blank")
		button.btn
			span.btn__text 
				span.btn__text--inner=data.button.title
include ./gallery
include ./describe